{% extends "Ecom/layout/main.html" %}

{% block myblock %}
<div>
    <div class="row">
    <div class="col-lg-8 mx-auto mt-5">
        <form action="" method="post">
            {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-12">
              <label for="username">Your Email</label>
              <input class="form-control" name="username" type="text" id="username">
            </div>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control" name="password" type="text"  id="pass">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">login</button>
        </div>
        </form>
      </div>
    </div>
</div>


{% endblock myblock %}